@page
@model DownloadMergedHtmlModel

<!DOCTYPE html>
<html>
<head>
    <title>Download Merged HTML</title>
</head>
<body>
    <h1>Download Merged HTML</h1>
    <p>
        <a href="~/">Back to Home</a>
    </p>
</body>
</html>
